$main-color: #235b71;
$secondary-color: #e1eff2;
$btn-secondary-color: #04a29a;

@mixin container-main {
  max-width: 1640px;
}

@mixin container-content {
  max-width: 960px;
}

@mixin btn-main {
  color: #ffffff;
  background-color: $main-color;
  font-size: 15px;
  padding: 0.8rem 1.2rem;
  border: 1px solid $main-color;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

@mixin btn-outline {
  color: #000000;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 15px;
  padding: 0.8rem 1.2rem;

  &:hover {
    cursor: pointer;
  }
}

@mixin btn-secondary {
  color: #ffffff;
  background-color: $btn-secondary-color;
  border: 1px solid $btn-secondary-color;
  border-radius: 5px;
  font-size: 15px;
  padding: 0.8rem 1.2rem;

  &:hover {
    cursor: pointer;
  }
}

@mixin btn-shadow {
  // box-shadow: 0 0 20px black;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.05),
    0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1),
    8px 32px 32px rgba(0, 0, 0, 0.15), 8px 64px 64px rgba(0, 0, 0, 0.15);
}

@mixin card-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@mixin heading-main {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 2rem 0;
  text-align: center;
}

@mixin sweep-to-right($hover-color, $text-color) {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $hover-color;
    border-radius: 3px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover {
    color: $text-color;
  }

  &:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@mixin grow-animation {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus,
  &:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
