@import '../styles/config';

.occupational {
  position: relative;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.section {
  @include container-content;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.heading {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

.subHeading {
  font-weight: 400;
  line-height: 1.7;
}

.paragraph {
  &:not(:last-child) {
    margin-bottom: 0.8rem;
  }
}

.buttons {
  display: flex;
  gap: 2rem;
}

.servicesBtn {
  @include btn-secondary;
  @include sweep-to-right(white, $btn-secondary-color);
  @include btn-shadow;
}

.questionBtn {
  @include btn-main;
  @include sweep-to-right($secondary-color, black);
  @include btn-shadow;
}

.mission {
  background-color: $secondary-color;
}

.missionSection {
  @include container-content;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
  align-items: center;
}

.missionContent {
  max-width: 50%;
  margin: 0 auto;
}

.missionHeading {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.missionParagraph {
  font-style: italic;
  font-weight: 300;
  margin-bottom: 2rem;
  line-height: 1.7;
}

.missionLogo {
  max-width: 16rem;
}

.missionBtn {
  @include btn-secondary;
}

.areas {
  padding: 4rem 0;
  background: linear-gradient(90deg, rgba(4, 162, 154, 1) 0%, rgba(35, 91, 113, 1) 100%);
}

.areasHeader {
  // background-color: $main-color;
  // background: rgb(4, 162, 154);

  text-align: center;
}

.containerContent {
  @include container-content;
  margin: 0 auto 4rem auto;
  // padding: 4rem 0;
}

.areasHeading {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.areasParagraph {
  color: #ffffff;
  line-height: 1.5;
}

.areasContent {
  @include container-main;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.areasCard {
  position: relative;
  max-width: 100vw;
  border-radius: 5px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    opacity: 0;
    background: $secondary-color;
    transition: opacity 0.3s ease;
    z-index: 2;
  }

  &:hover:not(:last-child):before {
    opacity: 0.9;
    transition: opacity 0.3s ease;
  }

  &:hover {
    .areasMoreLink {
      // transform: translateY(0);

      opacity: 1;
      transition: opacity 0.6s ease;
    }

    .areasMoreLinkText::after {
      width: 100%;
      background-color: $main-color;
    }
  }

  // &:nth-child(2),
  // &:nth-child(3) {
  //   .areasBackground {
  //     display: block;
  //     opacity: 0.3;
  //   }

  //   h2,
  //   a {
  //     color: #ffffff;
  //   }
  // }
}

.areasText {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  z-index: 1;
  padding: 4rem 0 0 2rem;

  h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.7;
  }
}

.areasImg {
  width: 100%;
  border-radius: 5px;
}

// .areasMore {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 100%;
//   height: 100%;
//   z-index: 3;
//   transition: opacity 0.3s ease;

// }

.areasMoreLink {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 3;
  opacity: 0;

  // &:hover {
  //   .areasMoreLinkText::after {
  //     width: 100%;
  //     background-color: $main-color;
  //   }
  // }
}

.areasMoreLinkText {
  position: relative;
  font-size: 2rem;
  letter-spacing: 2px;

  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05),
    -10px 20px 5px rgba(0, 0, 0, 0.05);

  &::after {
    position: absolute;
    content: '';
    height: 2px;
    top: 120%;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0%;
    transition: 1s;
  }
}

// .areasBackground {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   background-color: #000000;
//   display: none;
// }

.growth {
  @include container-main;
  margin: 0 auto;
  padding: 4rem 0;
}

.growthHeader {
  @include container-content;
  margin: 0 auto 4rem auto;

  h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
  }

  p {
    // font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
  }
}

.growthContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.growthCard {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .growthBtn {
    min-width: 11rem;
  }

  &:nth-child(1) {
    .growthBtn {
      @include btn-secondary;
    }
  }

  &:nth-child(2) {
    background-color: $secondary-color;

    .growthBtn {
      @include btn-secondary;
      background-color: $main-color;
    }
  }

  &:nth-child(3) {
    .growthBtn {
      @include btn-main;
    }
  }
}

.growthTopImg {
  position: relative;

  h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #000000,
      0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
  }
}

.growthText {
  padding: 3rem 2rem 2rem 2rem;

  h4 {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: center;
  }
}

.growthBottom {
  width: max-content;
  margin: 0 auto;
}

.discount {
  padding: 8rem 0;
  background-color: $secondary-color;
}

.discountContainer {
  @include container-content;
  margin: 0 auto;
  position: relative;
}

.discountBox {
  background-color: #ffffff;
  width: 50%;
  height: 80%;
  padding: 4rem;
  position: absolute;
  top: 10%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discountText {
  font-size: 2rem;
  display: block;
  margin-bottom: 2rem;
}

.discountPercent {
  font-size: 3rem;
  font-weight: 600;
}

.discountBtn {
  @include btn-secondary;
  // max-width: 11rem;
  font-size: 1.5rem;
  @include sweep-to-right(white, $btn-secondary-color);
  @include btn-shadow;
}

.about {
  @include container-main;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutImg {
  display: flex;
  align-items: center;
}

.aboutContent {
  padding: 6rem 4rem 6rem 2rem;
}

.aboutHeading {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.aboutParagraph {
  font-size: 1.2rem;
  line-height: 1.5;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.aboutLink {
  text-decoration: underline;
}

.aboutShare {
  font-size: 1rem;
}

.request {
  @include container-content;
  margin: 0 auto;
  padding: 6rem 0;
}

.requestText {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  line-height: 1.8;
}

.contacts {
  background-color: $secondary-color;
}

.contactsContainer {
  @include container-content;
  margin: 0 auto;
  padding: 6rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.contactsHeading {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  margin: 0 0 2rem 0;
}

.contactsParagraph {
  font-size: 1.2rem;
  line-height: 1.5;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

@import './index-media.module.scss';
