.top {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  max-width: fit-content;
}

.heading {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.7;
}

.email {
  margin-bottom: 1rem;
}

.bottom {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  padding: 0.8rem 0;
}

@import './Footer-media.scss';
